@font-face {
    font-family: 'anson';
    src: url('/assets/fonts/ansonFont/anson-regular-webfont.ttf');
    src: url('/assets/fonts/ansonFont/anson-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/ansonFont/anson-regular-webfont.woff') format('woff'),
         url('/assets/fonts/ansonFont/anson-regular-webfont.ttf') format('truetype'),
         url('/assets/fonts/ansonFont/anson-regular-webfont.svg#ansonregular') format('svg');
    font-weight: bolder;
    font-style: normal;

}

@font-face {
    font-family: 'comicBold';
    src: url('/assets/fonts/spaceComic/SpaceComics.ttf');
}

@font-face {
    font-family: 'coolvetica';
    src: url('/assets/fonts/coolvetica/coolvetica.otf');
}

:root{

    --white-- : #c8c8c8;
    --main-- : #7971EA;
    --lightGray: #393E46;
    --gray-- : #222831;

    --lightFont: 'anson';
    --boldFont-- : 'coolvetica';
    --Comic-- :'comicBold';

}

*{
    list-style: none;
    margin: 0;
    background: none;
    border: none;
}

body{
    display: flex;
    flex-direction: row;
    background-color: white;
}

aside {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    text-align: center;
    font-family: var(--Comic--);
    color: white;
    
    height: 100%;
    background-color: var(--main--);
}
aside * {
    padding: .5rem;
}

aside img {
    max-width: 2rem;
    filter: contrast(0%) brightness(200%);
    
}
aside .nav-items {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

main .main-box {

    background-color: var(--gray--);
    width: 75%;

    border-radius: 20px;
    padding: 30px;

}

main .hero-title {
    font-family: var(--boldFont--);
    letter-spacing: 2px;
    padding: 3rem;
    font-size: 3rem;
}

main .main-box * {
    margin: .75rem;
}

main .main-box .item {
    background-color: white;
    width: 99%;
    height: 12rem;

    border-radius: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .main-box .item *{
    margin: 10px;
}

main .main-box .item-details {
    display: flex;
}

main .main-box .item-image {
    width: 10rem;
    height: 10rem;

    align-self: center;
    padding: 20px;
}

main .main-box .item-title h1 {
    font-family: var(--lightFont);
}

main .main-box .item-title .sub {
    font-family: var(--lightFont);
    color: var(--lightGray);
}
main .cart-details {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: var(--lightFont);

}



main .main-box .quantity {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20px;
}

main .main-box .cart-details img {
    max-width: 2rem;
}

main .main-box .quantity img {
    width: 1rem;
}
main .main-box .item-details {
    font-family: var(--lightFont);
    font-size: 1.5rem;
}

.checkout {
    position: sticky;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    background-color: white;

    width: 40%;
    padding: 2rem;
}

.checkout * {
    padding: 30px;
}

.checkout h1 {
    font-family: var(--boldFont--) ;
    letter-spacing: 3px;
}

.checkout .credit-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: linear-gradient( var(--main--),#C768FF);
    color: white;
    font-family: var(--lightFont);
    font-size: 1.7rem;
    
    border-radius: 15px;
    height: 300px;
    width: 500px;
    padding: 20px;
}

.checkout .credit-card img {
    width: 5rem;
}
.checkout .logo {
    align-self: flex-start;
}

.checkout .credit-card .rightSide {
    align-self: flex-end;
}

.checkout .credit-card * {
    padding: 10px;
}
.checkout .cart-input {
    display: flex;
    flex-direction: column;

    font-family: var(--lightFont);
    font-weight: bold;
    font-size: 1.5rem;
}

.checkout .cart-input * {
    padding: 10px;
}

.checkout .cart-input input {
    background-color: var(--white--);
    color: black;
    border-radius: 10px;
}


.checkout button {
    display: block;
    background-color: var(--main--);
    color: white;
    width: 80%;
    padding: 1rem;
    border-radius: 10px;
}

.checkout button:hover {
    transition: ease .5s;
    filter: brightness(110%);
}

